PORT=3000

SQL_DSN=
SESSION_SECRET=

REDIS_CONN_STRING=
POSTGRES_DSN=
POSTGRES_PASSWORD=

ALIPAY_APP_ID=
ALIPAY_APP_PRIVATE_KEY=
ALIPAY_PUBLIC_KEY=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
ANTHROPIC_AUTH_TOKEN=

FRONTEND_BASE_URL=https://api.tokenapi168.com
